{% if page.print %}
  <style>
    @page {
      @top-right {
        content: "{{ site.title | default: 'Printable Docs' }}";
        font-size: 10pt;
        color: #666;
      }
    }
  </style>
  <script src="https://unpkg.com/pagedjs/dist/paged.polyfill.js"></script>
  <link rel="stylesheet" href="{{ '/assets/css/print.css' | relative_url }}">
{% else %}
<script>
  let themeLocalStorage = localStorage.getItem('theme');
  if(!themeLocalStorage) {
    let systemPrefersColorScheme = window.matchMedia("(prefers-color-scheme: dark)").matches ? 'dark' : 'light';
    localStorage.setItem('theme', systemPrefersColorScheme);
  }
  if (localStorage.getItem('theme') === 'dark') {
    document.documentElement.classList.add('dark-mode');
    document.getElementById('theme-style').href = '{{ "/assets/css/just-the-docs-dark.css" | relative_url }}';
  } else {
    document.documentElement.classList.add('light-mode');
    document.getElementById('theme-style').href = '{{ "/assets/css/just-the-docs-light.css" | relative_url }}';
  }
</script>
<script type="text/javascript" src="{{ '/assets/js/theme-switch.js' | relative_url }}" defer></script>
{% endif %}