
/**** FOR TOCBOT ******/
/** See: https://tscanlin.github.io/tocbot/ **/
#tocbot-toc{
  position: fixed !important;
  visibility: hidden;
  top: 90px;
  left: calc((100% - 1064px) / 2 + 264px + 800px); 
  width:250px;
  right: 0px;
  z-index: 10;
  background-color: rgba(255, 255, 255, 0.9);
}

#tocbot-toc ol {
  list-style: none;
}
/* Responsive: hide TOC on narrower viewports to prevent overlap */
@media (max-width: 1000px) {
  #tocbot-toc { display: none !important; }
}

